*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    max-width: 100%;
    height: 140vh;
    /* background-image: url("Assets/Big-images/group-of-multiracial-young-people-hugging-outdoors-2025-03-06-09-21-14-utc\ 1.png"); */
    background: 
        linear-gradient(180deg, rgba(255, 255, 255, 0.40) 8.28%, rgba(0, 59, 109, 0.00) 40.37%, rgba(0, 59, 109, 0.80) 64.52%),
        url("Assets/Big-images/group-of-multiracial-young-people-hugging-outdoors-2025-03-06-09-21-14-utc\ 1.png");
    background-size: contain;
    background-repeat: no-repeat;    
    background-position: center center;
    
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 8.28%, rgba(0, 59, 109, 0.00) 40.37%, rgba(0, 59, 109, 0.80) 64.52%); */
}

/* 
.inner-container1{
    width: 100%;
}
.inner-container2{
    width: 100%;
    
} */
.inner-container3{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px 60px;
}
.inner-container2{
    /* border: 1px solid black; */
    padding: 380px 60px 0px 60px;

}
.logo{
    /* background-image: url("Assets/Header-icon/Logo-head.png"); */
    width: 189.167px;
    height: 70px;
}
.right-nav{
    display: flex;
    align-items: center;
    gap: 48px;
}

.number,.mail{
    display: flex;
    align-items: center;
    gap: 12px;
}

.phone-icon,.mail-icon{
    color: white;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #003B6D;
}
.phone,.mail-text{
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
font-weight: 400;
line-height: 150%;
}
.appointment-btn{
    background-color: #004071; 
    color: #ffffff;
    border: none;
    padding: 20px 60px; /* Vertical and Horizontal padding */
    border-radius: 100px; /* Large radius creates the pill shape */
    cursor: pointer;
    
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    text-transform: uppercase;
}


.inner-container4{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 10%;
}
.para-1{
    color: #FFF;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    /* Headings/Regular/H1 Regular */
    font-family: "Jacques Francois";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 78px */
    text-transform: capitalize;
}
.para-2{
    color: #FFF;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    /* Body Text/Regular Body/20 Regular */
     font-family: "Rubik", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}
.para-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin: 32px 0px 0px 0px;
}
.consultant{
    background-color: #4396d6; 
    color: #ffffff;
    border: none;
    padding: 15px 50px; /* Vertical and Horizontal padding */
    border-radius: 100px; /* Large radius creates the pill shape */
    cursor: pointer;
    
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    text-transform: uppercase;
}
.call-us{
    background-color: transparent;
    display: flex;
    padding: 1rem 26px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 2px solid  #FFF;
    color: #FFF;
    font-weight: bolder;
}

.consultant:hover , .call-us:hover{
    background-color: #FFF;
    color: #0D5ED7;
    cursor: pointer;
}

.section-2{
    max-width: 100%;
    display: flex;
    padding: 100px 60px;
    justify-content: center;
    align-items: center;
    gap: 60px;
    /* align-self: stretch; */
    flex-direction: row;
}

.img-div{
    /* position: absolute; */

}

.img-box{
    width: 630px;
    height: 458px;
    background-image: url("Assets/Big-images/Rectangle\ 19.png");

    
}
.img-b{
    position: absolute;
    z-index: 1;
}
.border-box{
    position: relative;
    width: 630px;
    height: 458px;
    border: 2px solid #136CFC;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;

    top: -15px;
    left: -15px;
    z-index: 0;
}   
.text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}
.description-1{
    color:  #555;
    font-variant-numeric: lining-nums proportional-nums;

    /* Body Text/Regular Body/16 Regular */
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    
}
.title{
    color:  #136CFC;
    font-family: "Jacques Francois";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 42px */
}
.subtitle{
    color:  #000;

/* Headings/Regular/H3 Regular */
    font-family: "Jacques Francois";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 60px */
    text-transform: capitalize;
}
.description-1 p{
    margin-bottom: 10px;
}

/* section - 3 */
.section-3{
    display: flex;
    padding: 100px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    align-self: stretch;
    background: #F2F2F2;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.head-1{
    color: var(--Brand-Colors-Color-2, #136CFC);
    text-align: center;

    /* Headings/Regular/H5 Regular */
    font-family: "Jacques Francois";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 42px */
}
.head-2{
    color: var(--General-Colors-Black, #000);
    text-align: center;

    /* Headings/Regular/H3 Regular */
    font-family: "Jacques Francois";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 60px */
    text-transform: capitalize;
}

.img-b-1{
    width: 700px;
    height: 700px;
    position: absolute;
    z-index: 1;
    /* border: 2px solid #136CFC; */
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.img-box-1{
    width: 700px;
    height: 700px;
    /* background-image: url("Assets/Big-images/7dd45183440edd5d4ef4be8b1ae8ede618c8730d.jpg");     */
}

.border-box-2{
    position: relative;
    width: 700px;
    height: 700px;
    border: 2px solid #136CFC;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    top: 15px;
    left: 15px;
    z-index: 0;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;

}
.bullet{
    width: 24px;
    height: 24px;
}

.content{
    color:  #000;
    font-variant-numeric: lining-nums proportional-nums;

    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}
.list-item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}
.des-1, .des-2{
    color: var(--General-Colors-Body-Text-Color, #555);
    font-variant-numeric: lining-nums proportional-nums;

    /* Body Text/Regular Body/16 Regular */
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}
.appointment-btn-1{
    background-color: #004071; 
    color: #ffffff;
    border: none;
    padding: 20px 60px; /* Vertical and Horizontal padding */
    border-radius: 100px; /* Large radius creates the pill shape */
    cursor: pointer;
    
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    text-transform: uppercase;
}

.section-4{
    display: flex;
    width: 1440px;
    padding: 100px 60px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.main1{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.main2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
